*{
    margin: 0;
    padding: 0;
}


  #Rectangle-Copy-4 {
    width: 507px;
    height: 720px;
    border-radius: 20px;
    background-color:#f2f6f8;
    position: absolute;
    margin: 152px 720px 152px 213px;
 
  }

  #Rectangle-Copy-3 {
    width: 507px;
    height: 720px;
    border-radius: 20px;
    background-color: #1b3e5f;
    margin: 152px 213px 152px 720px ;
    position: absolute;
    overflow: hidden;

  }



  #image{
    width: 1440px;
    height: 1024px;
    border-radius: 30px;
    background-color: #ffffff;
    object-fit: contain;
    
    float: center; 
    position: absolute;
    
    }

#text{
    width: 389px;
    height: 44px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #2a628f;
   position: absolute;
   margin: 338px 52px 338px 65px;
   object-fit: contain;

}

#Med-Chain-Logo {
    width: 195px;
    height: 195px;
    position: absolute;
    z-index: 1;
    margin:69px 156px 456px 156px;
  }

#Doctors-rafiki {
    width: 324px;
    height: 242px;
    object-fit: contain;
    position: absolute;
    margin: 422px 98px 56px 98px;
  }
 

#login-box{
    width: 198px;
    height: 50px;
    border-radius: 28px;
    background-color: #f2f6f8;
    margin: 94px 154px 576px 155px;
    object-fit: contain;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    

}



.toggle-btn{
    width: 82px;
    height: 30px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: red;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-bottom: 16px;
    background: transparent;
    border-radius: 20px;
    outline: none;
    margin-left: 10px;
}

#button{
    position: absolute;
    width: 82px;
  height: 30px;
  border-radius: 20px;
  background-color: #1b3e5f;
  transition: .5s;
  margin-top: 10px;
  margin-bottom: 10px;
  outline: none;
  margin-left: 10px;
}

.input{
    width: 300px;
    height: 50px;
    border-radius: 6px;
  
    position: absolute;
    transition: .5s;
    top: 212px;
    left: 104px;
    margin-left: 10px;

}

.input-field{
  width: 300px;
  height: 50px;
  border-radius: 6px;
  background-color: #ffffff;
  padding-top: 10px;
  margin-top: 15px;
  
  

    
}

.submit-btn{
  width: 300px;
  height: 50px;
  border-radius: 25px;
  background-color: #c64d53;
  position: absolute;
  cursor: pointer;
  display: block;
  outline: none;
  margin:0px 153px 242px 0px ;
}

.check-box{
  margin: 50px 10px 30px 0px;
    
}

span{
  color: #ffffff;
  font-size: 20px;
  margin-top: 100px;
}

#username{
  margin-bottom: 100px;
  padding-bottom: 100px;
}
#password{
  margin-top: 20px;
}
 #log{
   left: 60px;
 }

 #register{
   left:760px
 }
